version: "3"
services:
  tf_training:
    image: tf_training
    build:
      context: ./tf_training
      dockerfile: Dockerfile.${CPUEVO}
    # user: "${UID}:${GID}"
    #restart: always
    environment:
      TZ: ${TZ}
      #PYTHONDONTWRITEBYTECODE: 1
    volumes:
      - ./tf_training/src:/home/
